* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

/* ----- Key Btn ---- */
.btnKey-L.dark {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(21, 50, 67, 0.6);
  color: #F9FAF9;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.dark:hover {
  background-color: #284163;
}
.btnKey-L.dark:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.dark:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.dark-border {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #153243;
  background-color: #F9FAF9;
  color: #153243;
  color: #153243;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.dark-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(21, 50, 67, 0.6);
}
.btnKey-L.dark-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.dark-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.light {
  background-color: #EEAD50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(238, 173, 80, 0.6);
  color: #F9FAF9;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.light:hover {
  background-color: #FFCF8B;
}
.btnKey-L.light:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.light:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.light-border {
  background-color: #EEAD50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #EEAD50;
  background-color: #F9FAF9;
  color: #EEAD50;
  color: #EEAD50;
  transition: all 0.3s ease;
  font-size: 24px;
}
.btnKey-L.light-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(238, 173, 80, 0.6);
}
.btnKey-L.light-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-L.light-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-L.none {
  background-color: #999999;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(153, 153, 153, 0.6);
  color: #DEE2E6;
  font-size: 24px;
}

.btnKey-M.dark {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(21, 50, 67, 0.6);
  color: #F9FAF9;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.dark:hover {
  background-color: #284163;
}
.btnKey-M.dark:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.dark:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.dark-border {
  background-color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #153243;
  background-color: #F9FAF9;
  color: #153243;
  color: #153243;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.dark-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(21, 50, 67, 0.6);
}
.btnKey-M.dark-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.dark-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.light {
  background-color: #EEAD50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(238, 173, 80, 0.6);
  color: #F9FAF9;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.light:hover {
  background-color: #FFCF8B;
}
.btnKey-M.light:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.light:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.light-border {
  background-color: #EEAD50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid #EEAD50;
  background-color: #F9FAF9;
  color: #EEAD50;
  color: #EEAD50;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btnKey-M.light-border:hover {
  box-shadow: 0px 0px 20px 0px rgba(238, 173, 80, 0.6);
}
.btnKey-M.light-border:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.btnKey-M.light-border:hover .cols span:nth-child(2) {
  display: none;
}
.btnKey-M.none {
  background-color: #999999;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px rgba(153, 153, 153, 0.6);
  color: #DEE2E6;
  font-size: 20px;
}

/* ----- Link Btn ---- */
.btnLink {
  font-size: 20px default;
}
.btnLink.dark {
  color: #153243;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}
.btnLink.dark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #153243;
  transition: width 0.4s ease;
  transform-origin: left;
}
.btnLink.dark:hover::after {
  width: 100%;
}
.btnLink.light {
  color: #EEAD50;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}
.btnLink.light::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #EEAD50;
  transition: width 0.4s ease;
  transform-origin: left;
}
.btnLink.light:hover::after {
  width: 100%;
}
.btnLink.white {
  color: #F9FAF9;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px;
  position: relative;
}
.btnLink.white::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #F9FAF9;
  transition: width 0.4s ease;
  transform-origin: left;
}
.btnLink.white:hover::after {
  width: 100%;
}

.icon-L .white-save {
  background-image: url(../../img/icon/white-save.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-arrow {
  background-image: url(../../img/icon/white-arrow.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-check {
  background-image: url(../../img/icon/white-check.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-edit {
  background-image: url(../../img/icon/white-edit.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-upload {
  background-image: url(../../img/icon/white-upload.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-view {
  background-image: url(../../img/icon/white-view.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-pen {
  background-image: url(../../img/icon/white-pen.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-plus {
  background-image: url(../../img/icon/white-plus.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-setting {
  background-image: url(../../img/icon/white-setting.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .white-cross {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-L .white-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-L .white-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #F9FAF9;
}
.icon-L .white-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-L .white-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #F9FAF9;
}
.icon-L .white-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-L .white-cross:hover .cols span:nth-child(2) {
  display: none;
}
.icon-L .dark-save {
  background-image: url(../../img/icon/dark-save.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-arrow {
  background-image: url(../../img/icon/dark-arrow.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-check {
  background-image: url(../../img/icon/dark-check.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-edit {
  background-image: url(../../img/icon/dark-edit.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-upload {
  background-image: url(../../img/icon/dark-upload.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-view {
  background-image: url(../../img/icon/dark-view.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-pen {
  background-image: url(../../img/icon/dark-pen.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-plus {
  background-image: url(../../img/icon/dark-plus.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-setting {
  background-image: url(../../img/icon/dark-setting.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .dark-cross {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-L .dark-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-L .dark-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #153243;
}
.icon-L .dark-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-L .dark-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #153243;
}
.icon-L .dark-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-L .dark-cross:hover .cols span:nth-child(2) {
  display: none;
}
.icon-L .light-save {
  background-image: url(../../img/icon/light-save.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-arrow {
  background-image: url(../../img/icon/light-arrow.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-check {
  background-image: url(../../img/icon/light-check.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-edit {
  background-image: url(../../img/icon/light-edit.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-upload {
  background-image: url(../../img/icon/light-upload.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-view {
  background-image: url(../../img/icon/light-view.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-pen {
  background-image: url(../../img/icon/light-pen.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-plus {
  background-image: url(../../img/icon/light-plus.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-setting {
  background-image: url(../../img/icon/light-setting.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .light-cross {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-L .light-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-L .light-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #EEAD50;
}
.icon-L .light-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-L .light-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #EEAD50;
}
.icon-L .light-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-L .light-cross:hover .cols span:nth-child(2) {
  display: none;
}
.icon-L .gray-save {
  background-image: url(../../img/icon/gray-save.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-arrow {
  background-image: url(../../img/icon/gray-arrow.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-check {
  background-image: url(../../img/icon/gray-check.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-edit {
  background-image: url(../../img/icon/gray-edit.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-upload {
  background-image: url(../../img/icon/gray-upload.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-view {
  background-image: url(../../img/icon/gray-view.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-pen {
  background-image: url(../../img/icon/gray-pen.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-plus {
  background-image: url(../../img/icon/gray-plus.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-setting {
  background-image: url(../../img/icon/gray-setting.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}
.icon-L .gray-cross {
  position: relative;
  width: 25px;
  height: 25px;
}
.icon-L .gray-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-L .gray-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #DEE2E6;
}
.icon-L .gray-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-L .gray-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #DEE2E6;
}
.icon-L .gray-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-L .gray-cross:hover .cols span:nth-child(2) {
  display: none;
}

.icon-M .white-save {
  background-image: url(../../img/icon/white-save.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-arrow {
  background-image: url(../../img/icon/white-arrow.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-check {
  background-image: url(../../img/icon/white-check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-edit {
  background-image: url(../../img/icon/white-edit.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-upload {
  background-image: url(../../img/icon/white-upload.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-view {
  background-image: url(../../img/icon/white-view.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-pen {
  background-image: url(../../img/icon/white-pen.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-plus {
  background-image: url(../../img/icon/white-plus.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-setting {
  background-image: url(../../img/icon/white-setting.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .white-cross {
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-M .white-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-M .white-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #F9FAF9;
}
.icon-M .white-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-M .white-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #F9FAF9;
}
.icon-M .white-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-M .white-cross:hover .cols span:nth-child(2) {
  display: none;
}
.icon-M .dark-save {
  background-image: url(../../img/icon/dark-save.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-arrow {
  background-image: url(../../img/icon/dark-arrow.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-check {
  background-image: url(../../img/icon/dark-check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-edit {
  background-image: url(../../img/icon/dark-edit.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-upload {
  background-image: url(../../img/icon/dark-upload.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-view {
  background-image: url(../../img/icon/dark-view.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-pen {
  background-image: url(../../img/icon/dark-pen.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-plus {
  background-image: url(../../img/icon/dark-plus.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-setting {
  background-image: url(../../img/icon/dark-setting.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .dark-cross {
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-M .dark-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-M .dark-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #153243;
}
.icon-M .dark-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-M .dark-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #153243;
}
.icon-M .dark-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-M .dark-cross:hover .cols span:nth-child(2) {
  display: none;
}
.icon-M .light-save {
  background-image: url(../../img/icon/light-save.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-arrow {
  background-image: url(../../img/icon/light-arrow.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-check {
  background-image: url(../../img/icon/light-check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-edit {
  background-image: url(../../img/icon/light-edit.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-upload {
  background-image: url(../../img/icon/light-upload.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-view {
  background-image: url(../../img/icon/light-view.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-pen {
  background-image: url(../../img/icon/light-pen.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-plus {
  background-image: url(../../img/icon/light-plus.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-setting {
  background-image: url(../../img/icon/light-setting.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .light-cross {
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-M .light-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-M .light-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #EEAD50;
}
.icon-M .light-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-M .light-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #EEAD50;
}
.icon-M .light-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-M .light-cross:hover .cols span:nth-child(2) {
  display: none;
}
.icon-M .gray-save {
  background-image: url(../../img/icon/gray-save.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-arrow {
  background-image: url(../../img/icon/gray-arrow.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-check {
  background-image: url(../../img/icon/gray-check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-edit {
  background-image: url(../../img/icon/gray-edit.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-upload {
  background-image: url(../../img/icon/gray-upload.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-view {
  background-image: url(../../img/icon/gray-view.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-pen {
  background-image: url(../../img/icon/gray-pen.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-plus {
  background-image: url(../../img/icon/gray-plus.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-setting {
  background-image: url(../../img/icon/gray-setting.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.icon-M .gray-cross {
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-M .gray-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.icon-M .gray-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #DEE2E6;
}
.icon-M .gray-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.icon-M .gray-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #DEE2E6;
}
.icon-M .gray-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.icon-M .gray-cross:hover .cols span:nth-child(2) {
  display: none;
}

.sidebar {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  border-left: #153243 solid;
  border-right: #153243 solid;
  background-color: #F9FAF9;
}
.sidebar .user {
  width: 100%;
  height: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.useImg {
  width: 100%;
  height: 100%;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #153243 solid;
}
.useImg .avatar {
  width: 85%;
  height: 85%;
  border-radius: 80%;
  background-color: #DEE2E6;
}

.tab-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: #153243 solid;
}

.btnTab {
  display: flex;
  width: 100%;
  border-bottom: #153243 solid;
  /* hover */
}
.btnTab .text {
  padding: 5px 10px;
  color: #153243;
  width: 100%;
  font-size: 20px;
}
.btnTab .tab-cross {
  position: relative;
  width: 40px;
  border-left: #153243 solid;
}
.btnTab .tab-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.btnTab .tab-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #153243;
}
.btnTab .tab-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.btnTab .tab-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #153243;
}
.btnTab:hover .tab-cross {
  position: relative;
  height: auto;
  width: 40px;
  background-color: #153243;
}
.btnTab:hover .tab-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
  transform: translateX(4%);
}
.btnTab:hover .tab-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #F9FAF9;
}
.btnTab:hover .tab-cross .cols span:nth-child(2) {
  display: none;
}
.btnTab:hover .tab-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.btnTab:hover .tab-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #F9FAF9;
}

.btnTab-click {
  display: flex;
  width: 100%;
  border-bottom: #153243 solid;
  /* hover */
}
.btnTab-click .text {
  padding: 5px 10px;
  color: #153243;
  width: 100%;
  font-size: 18px;
}
.btnTab-click .tab-cross {
  position: relative;
  width: 40px;
  border-left: #153243 solid;
}
.btnTab-click .tab-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.btnTab-click .tab-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #153243;
}
.btnTab-click .tab-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.btnTab-click .tab-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #153243;
}
.btnTab-click:hover .tab-cross {
  position: relative;
  height: auto;
  width: 40px;
  background-color: #153243;
}
.btnTab-click:hover .tab-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
  transform: translateX(4%);
}
.btnTab-click:hover .tab-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #F9FAF9;
}
.btnTab-click:hover .tab-cross .cols span:nth-child(2) {
  display: none;
}
.btnTab-click:hover .tab-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.btnTab-click:hover .tab-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #F9FAF9;
}
.btnTab-click .text {
  background-color: #153243;
  color: #F9FAF9;
}

.btnTab-list {
  display: flex;
  width: 100%;
  border-bottom: #153243 solid;
  /* hover */
}
.btnTab-list .text {
  padding: 5px 10px;
  color: #153243;
  width: 100%;
  font-size: 18px;
}
.btnTab-list .tab-cross {
  position: relative;
  width: 40px;
  border-left: #153243 solid;
}
.btnTab-list .tab-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.btnTab-list .tab-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #153243;
}
.btnTab-list .tab-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.btnTab-list .tab-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #153243;
}
.btnTab-list:hover .tab-cross {
  position: relative;
  height: auto;
  width: 40px;
  background-color: #153243;
}
.btnTab-list:hover .tab-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
  transform: translateX(4%);
}
.btnTab-list:hover .tab-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #F9FAF9;
}
.btnTab-list:hover .tab-cross .cols span:nth-child(2) {
  display: none;
}
.btnTab-list:hover .tab-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.btnTab-list:hover .tab-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #F9FAF9;
}

.content {
  border: #153243 solid;
  padding: 10px;
}

.icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.icon-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.i {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.i .dark-save {
  background-image: url(../../img/icon/dark-save.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-arrow {
  background-image: url(../../img/icon/dark-arrow.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-check {
  background-image: url(../../img/icon/dark-check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-edit {
  background-image: url(../../img/icon/dark-edit.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-upload {
  background-image: url(../../img/icon/dark-upload.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-view {
  background-image: url(../../img/icon/dark-view.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-pen {
  background-image: url(../../img/icon/dark-pen.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-plus {
  background-image: url(../../img/icon/dark-plus.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-setting {
  background-image: url(../../img/icon/dark-setting.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-cross {
  position: relative;
  width: 20px;
  height: 20px;
}
.i .dark-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.i .dark-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #153243;
}
.i .dark-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.i .dark-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #153243;
}
.i .dark-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.i .dark-cross:hover .cols span:nth-child(2) {
  display: none;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.howToUse {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnLink {
  font-size: 24px;
}

.iconBag {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content {
  border: #153243 solid;
}

header {
  width: 100%;
  height: 15vh;
  border-bottom: #153243 solid;
  background-color: #F9FAF9;
}

.i .dark-save {
  background-image: url(../../img/icon/dark-save.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-arrow {
  background-image: url(../../img/icon/dark-arrow.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-check {
  background-image: url(../../img/icon/dark-check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-edit {
  background-image: url(../../img/icon/dark-edit.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-upload {
  background-image: url(../../img/icon/dark-upload.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-view {
  background-image: url(../../img/icon/dark-view.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-pen {
  background-image: url(../../img/icon/dark-pen.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-plus {
  background-image: url(../../img/icon/dark-plus.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .dark-setting {
  background-image: url(../../img/icon/dark-setting.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.i .light-cross {
  position: relative;
  width: 25px;
  height: 25px;
}
.i .light-cross .cols {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.i .light-cross .cols span {
  width: 2px;
  height: 80%;
  background-color: #EEAD50;
}
.i .light-cross .rows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.i .light-cross .rows span {
  width: 80%;
  height: 2px;
  background-color: #EEAD50;
}
.i .light-cross:hover .cols {
  display: flex;
  transform: translateX(4%);
}
.i .light-cross:hover .cols span:nth-child(2) {
  display: none;
}

.warrper {
  max-width: 1440px;
  width: 100%;
  background-image: url("../img/galaxy-wallpaper-warm-colors 3.png");
  background-size: cover;
  background-position: center center;
  background-color: rgba(249, 250, 249, 0.95);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-blend-mode: soft-light;
  padding: 5px;
  border: #153243 10px solid;
}/*# sourceMappingURL=style.css.map */